body {
  padding: 10px;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.password_container {
  background-color: rgb(240,239,237);
  width: 550px;
  padding: 20px;
  margin: 90px auto;
  border-radius: 5px;
  height: 150px;
  border: 1px solid gray;
}

.header {
  text-align: center;
  color: rgb(91,0,13);
  background-color: rgb(255,204,51);
  border-radius: 5px;
  margin: -38px -20px 10px -20px;
}

h2 {
  padding-top: 10px;
}

.content {
  margin-left: 20px;
  margin-top: 40px;
}

.register label {
  color: rgb(91,0,13);
  margin-right:5px;
}

.register input {
  padding: 5px 14px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 4px;
  width: 272px;
  font-size: 1em;
  height: 25px;
}

#password_gen {
  padding: 5px 14px;
  font-family: Verdana, sans-serif;
  font-size: 8px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 4px;
  width: 200px;
  font-size: 1em;
  height: 25px;
}

.register .short {
  font-weight:bold;
  color:#FF0000;
  font-size:larger;
}

.register .weak {
  font-weight:bold;
  color:orange;
  font-size:larger;
}

.register .good {
  font-weight:bold;
  color:#2D98F3;
  font-size:larger;
}

.register .strong {
  font-weight:bold;
  color: limegreen;
  font-size:larger;
}

#password_button {
  width: 120px;
  height: 35px;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: rgb(150, 150, 150);
}

#password_button:hover {
  background-color: rgb(100, 100, 100);
}
